ul {
    list-style-type: none;
}

.contact h2 {
    text-align: center;
}

.contact table li {
    text-align: right;
    margin: 8% 0;
    padding: 0 0;
}

.contact table {
    margin: 8% auto;
    width: 65%;
}